#test {
    border: solid #374B43 4px;
    width: 200px;
    height: 200px;
    
}
#test2 {
    border: solid #9AB0A7 4px;
    width: 200px;
    height: 200px;
    
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
width: 100%;
position: fixed;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
width: 32vw;
text-decoration: none;
font-size: larger;
}

li a:hover {
background-color: #111;
}

.construct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}